<footer class="footer bg-dark py-3 mt-auto">
    <div class="container p-2">
        
        <section >
            <a  class="btn btn-outline-light btn-floating m-1 p-1" style="margin:auto ;justify-content: center;" href="https://www.linkedin.com/in/tirth-rami-704454204/" role="button">
                <i class="fab fa-linkedin-in m-1 " style="font-size: 24px; justify-content: center;"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1 p-1" href="https://github.com/tirthrami02" role="button">
                <i class="fab fa-github m-1" style="font-size: 24px;"></i>
            </a>
          </section>
        </div>
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
          ©2022 Made By Tirth Rami
        </div>
    </div>
</footer>