body {
    font-family: DejaVu Sans Mono, monospace;
}
#clustermap {
    width: 100%;
    height: 300px;
}

#map {
    width: 100%;
    height: 300px;
}
footer{
    color: white;
    padding: 8px;
    font-size: 24px;
    font-family: Consolas;
    letter-spacing: 12px;
    
    margin-top: auto;
    width: 100%;
    
    text-align: center;
 
 }